### Authentication details
export TF_VAR_oracle_bmcs_tenancy_ocid="<tenant OCID>"
export TF_VAR_oracle_bmcs_user_ocid="<user OCID>"
export TF_VAR_oracle_bmcs_fingerprint="<api key fingerprint>"
export TF_VAR_oracle_bmcs_private_key_path="<path/to/api/pem/file>"

### IaaS Configuration
export TF_VAR_bosh_compartment_id="<bosh compartment OCID>"
export TF_VAR_public_subnet_ad1_id="<public subnet AD1 OCID>"
export TF_VAR_public_subnet_ad2_id="<public subnet AD2 OCID>"
